# .gitignore for .NET Projects

## General
*.user
*.suo
*.sln.docstates

## Visual Studio
.vs/
*.*.user
*.*.bak

## Build results
[Bb]in/
[Oo]bj/

## Rider
.idea/

## Mac
.DS_Store

## Other
*.dbmdl
*.mtpdb
*_i.c
*_p.c
*.ncb
*.orig
*.VC.db
*.VC.VC.opendb